@import url("https://fonts.cdnfonts.com/css/georgia");
@import url("https://db.onlinewebfonts.com/c/2aa5f6db10ab7b69465c95555c235503?family=Graphik-Semibold%22");
@import url("https://db.onlinewebfonts.com/c/18388ffae47d04063d2b24fc4a9cff60?family=Publico+Headline+Web+Bold+Regular%22");
@import url("https://db.onlinewebfonts.com/c/4b034aa42968984e20335429f8370be8?family=Publico+Banner+Web+Ultra+Regular%22");

/* FONTS */

@font-face {
  font-family: "Graphik Semibold";
  src: url(fonts/Graphik-Semibold-Web.woff2);
}

@font-face {
  font-family: "Publico Banner Ultra";
  src: url(fonts/PublicoBanner-Ultra-Web.woff2);
}

@font-face {
  font-family: "Publico Banner UltraItalic";
  src: url(fonts/PublicoBanner-UltraItaliac-Web.woff2);
}

@font-face {
  font-family: "Publico Banner Bold";
  src: url(fonts/PublicoHeadline-Bold-Web.woff2);
}

@font-face {
  font-family: "Publico Banner UltraItalic";
  src: url(fonts/PublicoHeadline-BoldItalic-Web.woff2);
}

@font-face {
  font-family: "Publico Headline Roman";
  src: url(fonts/PublicoHeadline-Roman-Web.woff2);
}

:root {
  --backgroud-color-site: #ffffff;
  --text-color: #000000;
  --hover-grey: #abb8c3;
  --hover-red: #e60019;

  /* FONTS  */
  --font-link-p: "Georgia", san-serif;
  --card-category-h2: "Graphik Semibold", san-serif;
  --card-title-h3: "Publico Headline Bold", san-serif;
  --card-title-bold-big: "Publico Banner Ultra", san-serif;
}

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Inizio Header e Nav Manfredi */

#header-wrap{
  max-width: 1260px;
  margin: 0 auto;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 130px;
  padding: 12px 10px;
}

#links-header-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  white-space: nowrap;
  padding-left: 0px;
}

#links-header-left a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 15px;
  font-family: var(--font-link-p);
  letter-spacing: 1px;
}

#links-header-left a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--hover-grey);
}

#border-link-left {
  position: relative;
  bottom: 50%;
  width: 15%;
  height: 1px;
  background-color: black;
  margin: 4px 0px;
}

#links-header-right {
  display: flex;
  flex-direction: column;
  text-align: right;
  position: relative;
}

#links-header-right a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 15px;
  font-family: var(--font-link-p);
  letter-spacing: 1px;
}

#links-header-right a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--hover-grey);
}

#border-link-right {
  position: relative;
  left: 75px;
  width: 15%;
  height: 1px;
  background-color: black;
  margin: 4px 0px;
}

#logo img {
  width: 500px;
}

#bannerSubscribe {
  display: none;
  z-index: 1;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-90%);
  width: 450px;
  height: 250px;
  background-color: white;
  border: 2px solid black;
}

a#subscribe:hover + #bannerSubscribe {
  display: block;
}

#bannerSubscribe:hover {
  display: block;
}

#boximg {
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 10px;
}

#boximg img {
  width: 180px;
}

#textBanner {
  font-family: var(--card-title-bold-big);
  font-weight: 800;
  max-width: 180px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
  padding: 10px;
}

#header-separator {
  width: 100vw;
  height: 6px;
  background-color: black;
}

#header-separator-2 {
  width: 100vw;
  margin-top: 4px;
  height: 1px;
  background-color: black;
}

#menu-hamburger-desktop img {
  width: 70px;
  padding-left: 24px;
}

#nav {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 16px; /* PER SEZIONE 2*/
}

#menu-hamburger-mobile img {
  width: 70px;
  padding-left: 24px;
}

#nav-links ul {
  list-style: none;
}

#nav-links ul li {
  display: inline;
  padding: 0px 10px;
}

#nav-links ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-family: var(--font-link-p);
  font-weight: 500;
  letter-spacing: 1px;
}

#nav-links ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 13px;
  color: var(--hover-red);
  transition: 0.2s;
}

#search img {
  width: 70px;
  padding-right: 24px;
}

/* Inizio Media Query Manfredi 2*/

@media screen and (max-width: 768px) {
  #header {
    width: 100%;
    justify-content: space-around;
    height: 75px;
  }

  #nav {
    display: none;
  }

  #links-header-left {
    display: none;
  }

  #links-header-right a:first-child {
    display: none;
  }

  #links-header-right #subscribe {
    font-size: 8px;
    font-weight: bold;
    padding-right: 15px;
  }

  #border-link-right {
    display: none;
  }

  #logo img {
    width: 300px;
  }

  #bannerSubscribe {
    top: 450%;
    left: 20%;
    transform: translateX(-90%);
  }
}

@media screen and (min-width: 768px) {
  #header-separator-2 {
    display: none;
  }

  #menu-hamburger-desktop {
    display: none;
  }
}
/* Fine Media Query Manfredi */
/* Fine Header e Nav Manfredi */

/* Inizio Hero Section Luca e Claudia*/

.wrapHero {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  max-width: 1260px;
  margin: auto;
  padding-top: 24px;
  gap: 56px;
}

.containerHero {
  display: flex;
  flex-direction: row;
  gap: 52px;
}

/* Left Card Hero */

.topLeftCard {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 36px;
  padding-right: 36px;
  max-width: 100%;
}

.lineLeft1{
  display: none;
  
}

.lineLeft2{
  display: none;
  
}

.topLeftCard h2 {
  font-size: 11px;
  text-decoration-line: underline;
  text-underline-offset: 6px;
  font-weight: bold;
  font-family: var(--card-category-h2);
  padding: 0px 0px 4px;
}

.topLeftCard h3 {
  font-size: 16px;
  font-weight: bolder;
  font-family: var(--card-title-h3);
}

.topLeftCard h3:hover {
  opacity: 0.6;
}

.topLeftCard p {
  font-size: 13px;
  font-family: var(--font-link-p);
}

.topLeftCard a {
  font-size: 10px;
  text-decoration: none;
  color: black;
  font-family: var(--font-link-p);
}

.topLeftCard span {
  font-size: 10px;
  font-family: var(--font-link-p);
}

.cardtopleft {
  width: 177.5px;
  padding-bottom: 24px;
  line-height: 1.35;
}

.imgMediaQuery img {
  display: none;
}

.containerTitleBoxcardLeft {
  display: none;
}

.authorCardleft,
.authorCardCenter a,
.authorRight a {
  letter-spacing: 1.5px;
}

/* Center card Hero */

.topCenterCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 100%;
}

.topCenterCard img {
  width: 100%;
}

.containerTitleBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  transform: translateY(-50%);
}
.textWhiteBox {
  font-size: 15px;
  font-family: var(--card-category-h2);
  text-decoration: underline;
  text-underline-offset: 15px;
  border-bottom: solid 5px black;
  padding-bottom: 1px;
  width: 100%;
}

.topCenterCard h3 {
  font-family: var(--card-title-bold-big);
  font-size: 38px;
  z-index: 2;
  width: 100%;
}

.topCenterCard h3:hover {
  opacity: 0.6;
}

.topCenterCard a {
  text-decoration: none;
  color: black;
}

.topCenterCard p {
  font-family: var(--font-link-p);
  font-size: 16px;
  margin: 8px 87.2px 0px;
}

.topCenterCard .authorCardCenter {
  font-size: 13px;
  text-decoration: none;
  color: black;
  font-family: var(--font-link-p);
  margin: 8px 0px 0px;
}

.authorCardleft:hover,
.authorCardCenter a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

/* Right card hero */

.topRightCard {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}

.topRightCard img {
  max-width: 262px;
  padding: 0px 0px 4px;
}

.cardRight2 {
  padding-top: 30px;
}

.topRightCard a {
  text-decoration-line: none;
  color: var(--text-color);
  font-family: var(--font-link-p);
}

.topRightCard h2 {
  font-size: 11px;
  font-family: var(--card-category-h2);
  text-decoration: underline;
  text-underline-offset: 4px;
  padding: 0px 0px 12px;
}

.topRightCard h3 {
  font-family: var(--card-title-h3);
  font-size: 20px;
  padding: 0px 0px 4px;
}

.topRightCard .by {
  font-size: 13px;
  font-family: var(--font-link-p);
}

.topRightCard p {
  display: inline;
}

.authorCardRight {
  font-size: 13px;
  font-family: var(--font-link-p);
}

.paragraphRight {
  display: none;
}
.authorRight {
  padding-bottom: 40px;
}

.lines {
  max-width: 262px;
  height: 1px;
  background-color: #000000;
}


.topRightCard h3:hover {
  opacity: 0.6;
}

.authorCardRight a:hover {
  text-decoration: underline;
  opacity: 0.6;
}

/* Low Side Card Hero */

.wrappedLowSide {
  display: flex;
  flex-direction: column;
  gap: 5px;
 max-width: 100%;
}

.linelow {
 max-width: 100%;
  height: 0.5px;
  background-color: #000000;
}

.cardLowSide {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 24px;
  max-width: 100%;
  height: 100%;
}

.cardLow {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.lineCard {
  height: 130px;
  width: 1px;
  background-color: #000000;
}

.cardLow img {
  width: 98px;
  height: 98px;
  object-fit: cover;
}

.textCardLow {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.textCardLow h3 {
  font-size: 11px;
  font-family: var(--card-category-h2);
  text-decoration-line: underline;
  text-underline-offset: 4px;
  color: var(--text-color);
  margin: 0px 0px 12px;
  padding: 0px 0px 4px;
}

.textCardLow a {
  text-decoration: none;
}

.textCardLow p {
  font-size: 16px;
  font-family: var(--font-link-p);
  color: var(--text-color);
}

.lineCardEnd {
  width: 1270px;
  height: 0.5px;
  background-color: #000000;
}

.lineBottomCard {
  width: 100%;
  height: 0.3px;
  background-color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.textCardLow p:hover {
  opacity: 0.6;
}

/* Media Query Hero */

@media (max-width: 1260px) {
  .containerHero {
    display: flex;
    flex-direction: row;
    gap: 42px;}

    .topLeftCard{
      margin-left: 16px;
      margin-right: 16px;
      padding-left: 12px;
    padding-right: 12px;
      }
  
    .cardtopleft{
      padding-left: 12px;
      padding-right: 12px;
    }
  
    .topLeftCard p{
      display: none;
    }
  
    .topRightCard{
      margin-right: 16px;
    }


  .wrappedLowSide{
    margin-left: 16px;
    margin-right: 16px;
  }

  
  .lineBottomCard {
     margin-top: 12px;
    
  }

  .cardLow:last-child {
    display: none;
  }

  .lineCard:last-child {
    display: none;
  }

  .lineCard{
    height: 98px;
  }

  
  
}

@media (max-width: 1000px) {
  .wrapHero {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding: 0;
    margin: auto;
    gap:5px
  }

  .containerHero {
    background-color: var(--backgroud-color-site);
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    color: var(--text-color);
    gap: 0;
  }
  .topCenterCard {
    order: 1;
    width: 100%;
  }

  .topRightCard {
    order: 2;
    width: 100vw;
    margin: 0;
    padding: 0;
  }


  .topLeftCard{
    order: 3;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  padding-right: 0;
    }

  .topCenterCard h3 {
    align-self: flex-start;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
  }

  .textWhiteBox {
    text-decoration: underline;
    text-underline-offset: 15px;
    border-bottom: solid 5px black;
    padding-bottom: 2px;
  }

  .textWhiteBox h2 {
    font-size: 15px;
    font-family: var(--card-category-h2);
  }

  .topCenterCard h3 {
    font-size: 32px;
    text-align: center;
    margin: 0;
  }

  .topCenterCard p {
    text-align: center;
    margin: 8px 0px 0px 24px;
  }

  .authorCardCenter {
    letter-spacing: 2px;
    font-size: 4px;
    text-align: center;
  }

  .cardRight2 {
    padding: 0;
  }

  .topRightCard img {
    max-width: 100%;
  }

  .paragraphRight {
    display: contents;
    font-size: 16px;
    font-family: var(--font-link-p);
    color: black;
  }

  .authorRight {
    padding: 0;
    margin-top: 8px;
  }

  .lines {
    max-width: 100%;
    background-color: #000000;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .topLeftCard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 100%;
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
  }

  .cardtopleft p{
    display: contents;
  }

  .lineCard{
    display:none;
  }
 
  .cardtopleft {
    width: 100%;
    padding: 0;
    line-height: 1.35;
    border-bottom: 1px solid black;
    padding-top: 24px;
  }

  .cardtopleft:last-child {
    border: none;
  }

  .imgMediaQuery img {
    display: inline;
    max-width: 100%;
  }

  .topLeftCard h3 {
    font-size: 18px;
    font-weight: bolder;
    font-family: var(--card-title-h3);
  }

  .topLeftCard span, .topLeftCard .authorCardleft{
    font-size: 12px;
  }

  

  .wrappedLowSide{
    padding-bottom: 20px;
  }

  .lineBottomCard{
    display: none;
  }
}

@media (max-width: 766px) {
  .wrapHero{
    margin-top: 16px;
  }

  .topCenterCard {
    border-bottom: 1px solid black;
    padding-bottom: 32px;
  }

  .containerTitleBox {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 16px;
    transform: translateY(-50%);
    align-self: flex-start;
  }
  .textWhiteBox {
    font-size: 15px;
    font-family: var(--card-category-h2);
    text-decoration: underline;
    text-underline-offset: 15px;
    border-bottom: solid 5px black;
    padding-bottom: 1px;
    width: 100%;
  }

  .topCenterCard h3 {
    font-size: 32px;
    text-align: left;
    margin: 0;
  }

  .topCenterCard p {
    text-align: left;
    margin: 0;
    display: inline;
  }

  .authorCardCenter {
    letter-spacing: 2px;
    font-size: 4px;
    text-align: left;
    align-self: flex-start;
  }

 
  .cardtopleft{
    padding-bottom: 12px;
  }

  .cardtopleft .by, .cardtopleft .authorCardleft{
    font-size: 12px;
  }

 

  #firstH3Left{
    font-size: 23px;
  }

  .containerTitleBoxcardLeft {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 16px;
    transform: translateY(-50%);
    align-self: flex-start;
    width: 130px;
  }

  .textWhiteBoxLeft h2 {
    width: 95px;
    font-size: 15px;
    font-family: var(--card-category-h2);
    text-decoration: underline;
    text-underline-offset: 15px;
    border-bottom: solid 5px black;
    padding-bottom: 1px;
  }
 

  .topRightCard {
    padding-top: 32px;
    
  }

  .lineMediaQueryLeft{
    display: flex;
    flex-direction: column;
}

  .lineLeft1{
    display: inline;
    width: 100%;
    height: 4px;
    background-color: #000000;
    margin-top: 32px;
    border-bottom: 1px solid black;
    
  }

 .lineLeft2{
    display: inline;
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-top: 5px;
    border-bottom: 1px solid black;
    
  }
  
  #firstCardLeftTitle{
    display: none;
  }

  .cardtopleft:first-child h3{
    font-size: 23px;
    font-weight: bolder;
  }

  .cardtopleft:first-child p {
    display:block;
    padding-bottom: 12px;
  }

 

  .cardLow {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 98px;
    border-right: 1px solid black;
    padding-right: 16px;
  }


  .cardLowSide {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 24px;
    width: 100%;
    overflow-x: scroll;
    overflow-y:hidden;
    flex-wrap:nowrap;
  }


  .cardLowSide p {
    display: block;
  }

 
 .cardLow:last-child {
    display: contents;
  }

      
  .textCardLow {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .textCardLow h3 {
    white-space: nowrap;
    font-size: 11px;
    font-family: var(--card-category-h2);
    text-decoration-line: underline;
    text-underline-offset: 4px;
    color: var(--text-color);
    margin:0;
    padding: 0;
  }
  
  .textCardLow a {
    text-decoration: none;
  }
  
  .textCardLow p {
    width: 128px;
    font-size: 14px;
    font-family: var(--font-link-p);
    color: var(--text-color);
  }

}

/* Fine Media Query  */
/* Fine sezione Hero Luca e Claudia*/

/* Inizio sezione "The Latest" Nico e Davide */

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: var(--hover-grey);
}
.homepage-secondary-stories {
  display: flex;
  flex-direction: column;
  max-width: 1260px;
}

.story-grid-title {
  border-bottom: 1px solid black;
  width: fit-content;
  font-size: 11px;
  font-family: var(--card-category-h2);
}

ul#story-grid-list.story-grid-ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* padding-inline-start: 40px; */
}
.the-latest {
  position: relative;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--card-title-bold-big);
  font-size: 20px;
  font-weight: 400%;
}



.the-latest-read-more {
  border-top: 1px solid black;
  width: fit-content;
  font-size: 13px;
  font-family: var(--font-link-p);
  padding-left: 14px;
}

.homepage-secondary-the-latest {
  max-width: 1920px;
}

.homepage-secondary-stories {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.box-container2-secondary {
  display: flex;
  flex-direction: column;
  margin-left: 56px;
}

.story-grid-li {
  margin-bottom: 20px;
}

.story-grid-time {
  font-family: var(--card-category-h2);
  color: var(--hover-grey);
  font-size: 10px;
}

.story-grid-p {
  font-family: var(--font-link-p);
  font-size: 13px;
}

.story-grid-link {
  font-family: var(--card-title-h3);
  font-size: 16px;
}
.stories-content-secondary-card-2-label {
  border-bottom: 1px solid black;
  padding-top: 10px;
  height: 59px;
  width: fit-content;
}
.stories-content-secondary-card-2-title {
  border-bottom: 3px solid black;
  width: fit-content;
  padding-bottom: 18px;
  font-size: 15px;
  font-family: var(--card-category-h2);
}

.stories-content-secondary-card-label {
  font-size: 15px;
  font-family: var(--card-category-h2);
}

.stories-content-secondary {
  display: flex;
  flex-direction: row;
  width: 1000px;
  border-top: 1px solid black;
  padding-top: 20px;
}
.stories-content-secondary-border {
  border-top: 5px solid black;
  padding-top: 30px;
  height: 10px;
}

.stories-content-secondary-card-1 {
  border-right: 1px solid black;
  padding-right: 50px;
}

.stories-content-secondary-card-1-image {
  width: 500px;
  height: 400px;
  overflow: hidden;
}

.stories-content-secondary-card-1-link {
  font-family: var(--card-title-h3);
  font-size: 28px;
  font-weight: bold;
  padding-right: 20px;
}
.stories-content-secondary-card-2 {
  padding-left: 50px;
}
.stories-content-secondary-card-p {
  font-family: var(--font-link-p);
  font-size: 16px;
}
.stories-secondary-card-author {
  font-family: var(--font-link-p);
  font-size: 13px;
}

.stories-secondary-card-author-link:hover {
  text-decoration: underline;
  color: black;
}
.stories-content-secondary-card-2-link {
  font-size: 53px;
  font-weight: 400%;
  font-family: var(--card-title-bold-big);
}

/* 
 */

img {
  width: 100%;
}

.card-korean {
  font-size: 15px;
  width: fit-content;
  font-family: var(--card-category-h2);
  font-weight: bold;
  background-color: white;
}

.card-label {
  font-size: 11px;
  border-bottom: 1px solid black;
  width: fit-content;
  font-family: var(--card-category-h2);
  font-weight: bold;
  padding-top: 0.5rem;
}

.card-bottom h3 {
  padding: 0.5rem 0;
}

.card-bottom p {
  padding-bottom: 0.2rem;
}

.card-top-korean {
  position: relative;
}

.card-label-box-korean {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: white;
}

.font-bold {
  font-size: 22px;
  font-family: var(--card-title-h3);
}

.title-article1 {
  font-size: 24px;
  font-family: var(--card-title-bold-big);
}

.title-article {
  font-size: 18px;
  font-family: var(--card-title-bold-big);
}

p {
  font-size: 16px;
  font-family: var(--font-link-p);
  color: #000000;
}

.container2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  max-width: 986px;
}

/*section,
.card-label-box-korean {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
}*/

.card-label-box-korean {
  border-top: none;
}

/* section::before, 
section::after,
.card-label-box-korean::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: black;
  position: absolute;
  left: 0;
}

section::before {
  top: -10px;
}

section::after {
  bottom: 3px;
}*/

.music-section {
  padding: 2rem 1rem;
  margin: 2rem 0;
}

.music-card {
  margin: 10px 0;
}

.xcerpt {
  color: #d71920;
  font-size: 22px;
  font-family: var(--card-title-h3);
}

.card-content:visited {
  text-decoration: none;
}

.card-content {
  font-size: 22px;
  font-family: var(--card-title-bold-big);
  font-weight: bold;
  color: #000000;
}

.by {
  font-size: 14px;
  font-family: var(--card-title-h3);
  padding-right: 4px;
}

.goodell {
  font-size: 22px;
  font-family: var(--card-title-h3);
  color: gray;
}

.goodell:hover {
  text-decoration: underline;
}

.author {
  font-size: 11px;
  font-family: var(--font-link-p);
  color: #000000;
  letter-spacing: 1px;
}

.rolling-korean {
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .music-section {
    padding: 2rem;
  }

  .music-card {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }

  .card-label-box-korean {
    padding: 20px 0;
    max-width: 150px;
  }

  .box-r {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
  }

  .box-r-bottom,
  .box-r-top {
    width: 100%;
  }

  .box-l,
  .doja-card {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .hidden {
    display: none;
  }
}

@media screen and (min-width: 1260px) {
  .music-card {
    display: block;
  }

  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .box-r {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .box-r-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    border-bottom: 1px solid black;
  }
  .card-content {
    padding: 24px 0;
    margin: 24px 0;
    max-width: 80%;
  }
  .card-bottom > p {
    display: block;
  }

  .box-l,
  .doja-card {
    border: none;
  }
}

/*  */

@media screen and (max-width: 1000px) {
  .homepage-secondary-stories {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .story-grid-title {
    border-bottom: 1px solid black;
    width: 100%;
  }
  .the-latest {
    position: relative;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
  }
}
@media screen and (max-width: 765px) {
  .homepage-secondary-stories {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .story-grid-title {
    border-bottom: 1px solid black;
    width: 100%;
  }
  .the-latest {
    position: relative;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
  }
  p {
    display: none;
  }
}



/* INIZIO FOOTER*/

#footer{
  width: 100%;
  height: auto;
  background-color: #000000;
  margin-top: 50px;
}

#footer-box{
  width: 1250px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 50px 0px;
  margin: 0 auto;
}

#footer-menus{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#footer-menus-top{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 50px;
  width: 800px;
}

.footer-title h3{
  font-family: var(--card-title-bold-big);
  font-size: 20px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;
  align-self: flex-start;
  width: 400px;
}

.footer-title h4{
  font-family: var(--card-title-bold-big);
  font-size: 20px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;
  align-self: flex-start;
  width: 170px;
}

#rolling-stone-ita-double-list-menu-box{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
}

#list-right{
  padding-right: 50px;
}

.list-footer li{
  padding-bottom: 7px;
  color: #ffffff;
}

.list-footer li a{
  color: #ffffff;
}

.list-footer li a:hover{
  color: var(--hover-red);
}

#footer-condizioni-box .footer-title{
  max-width: 125px;
}

#footer-seguici-box .footer-title{
  max-width: 125px;
}

#condizioni-list{
  padding-top: 20px;
}

#seguici-list{
  padding-top: 20px;
}

#footer-menus-down{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap:50px;
}

#footer-newsletter-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer-newsletter-form{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

#input-text-newsletter{
  background-color: #000000;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-size: 18px;
  font-family: var(--font-link-p);
  color: #ffffff;
  opacity: 1;
}

#input-text-newsletter:focus{
    outline:none
}

#input-text-newsletter::placeholder{
  color: #ffffff;
  opacity: 1;
}

#input-submit-newsletter{
  background-color: #000000;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  font-size: 18px;
  font-family: var(--font-link-p);
  color: #ffffff;
}

#input-submit-newsletter:hover{
  color: var(--hover-red);
}

#footer-consigli{
  max-width: 400px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

#consigli-link{
  padding-top: 20px;
}

#consigli-link a{
  font-size: 18px;
  color: #ffffff;
  float: right;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

#consigli-link a:hover{
  color: var(--hover-red);
}





